:root {
  --padd: .3em;
  --text-margin: .2em;
  --radius: 20px;
  --bg-color: #1f240a;
  --accent-color: #39571c;
  --text-color: #efd8a1;

  --main-transition: 0.3s ease;
}


body {
  font-family: "monaco", sans-serif;
  padding-top: 40px;
  /* background-color: var(--bg-color); */
  background:
    repeating-linear-gradient(-45deg,
      var(--bg-color),
      var(--bg-color) 20px,
      #2a3310 20px,
      #2a3310 40px);
  background-size: 56px 56px;
  animation: glide 5s linear infinite;
}

@keyframes glide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 56px 56px;
  }
}

p,
h1,
h2 {
  color: var(--text-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

header {
  font-size: 1.3em;
  background: var(--accent-color);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--text-color);
}

header>h1 {
  color: var(--text-color);
  margin-left: var(--text-margin);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  margin-top: 0em;
}

header>#menu-toggle {
  margin-right: 2rem;
}

#desktop-nav {
  display: none;
}

#nav-pane {
  position: fixed;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 2;
  width: 400px;
  top: 53px;
  mask-image: linear-gradient(to right, transparent 0%, black 80%);
  right: -420px;
  transition: right 0.3s ease;
}

#nav-pane.active {
  right: 0;
}

#mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#mobile-nav>a {
  color: var(--text-color);
  font-size: 2em;
  text-align: right;
  padding-right: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

#mobile-nav>a.hover {
  color: var(--accent-color);
}

@media (min-width: 800px) {
  #menu-toggle {
    display: none;
  }

  #desktop-nav {
    display: block;
  }
}

#title-img-container {
  position: relative;
  display: block;
}

#title-img {
  display: block;
  width: 120%;
  object-fit: cover;
  margin-left: -10%;
  min-height: 20em;
  max-height: 40em;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

#name-title {
  position: absolute;
  font-size: 2.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  right: 20px;
  top: -10px;
}

/* the Buttons with information*/
.preview-button {
  max-width: 1000px;
  background: var(--accent-color);
  border-radius: var(--radius);
  border: 1px solid transparent;
  margin: .5em auto;
  transition: border var(--main-transition)
}

.preview-button:hover {
  border: 3px solid var(--text-color);
}

/* the title in the buttons*/
.preview-button h2 {
  color: var(--text-color);
  text-align: left;
  margin-left: 1em;
  font-size: 2.0em;
  margin-bottom: 0;
  margin-top: .1em;
  padding: calc(var(--padd)/2);
}

/* the paragrah in the buttons*/
.preview-button p {
  color: var(--text-color);
  margin: var(--text-margin);
  overflow: hidden;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding: calc(var(--padd)*2);

}

.preview-button img {
  max-height: 500px;
  object-fit: cover;
  margin: .1em;
  margin-right: .5em;
  border-radius: 10px;
}

#img1 {
  float: left;
}

#img2 {
  float: right;
}

@media (max-width: 800px) {

  #img1,
  #img2 {
    float: none;
    width: 100%;
  }
}
